[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version = "3.6.3"

[packages]
scrapy = "==1.5.0"
geocoder = "==1.35.0"
boto3 = "==1.5.21"
toml = "==0.9.6"

[dev-packages]
pylint = "==2.1.1"
