html, body, #root, #mapContainer {
    height: 100%;
    padding: 0;
    margin: 0;
}

#root {
    display: flex;
}

#sidebar {
    position: relative;
    padding: 0 1em;
}

#mapContainer {
    flex-grow: 1;
}

#prix input {
    width: 4em;
}

input[type=number] {
    -moz-appearance: textfield;
}

#hamburger-input, .toggle {
    display: none;
}

@media screen and (max-width: 768px) {
    #root {
        flex-direction: column;
    }

    .toggle {
        display: block;
        cursor: pointer;
        text-align: right;
        width: 100%;
        font-size: 1.5em;
        clear: both;
    }

    #hamburger-input:checked + label .toggle {
        position: absolute;
        right: .33333em;
    }

    #hamburger-input:checked + label + form {
        display: block;
    }

    #settings {
        display: none;
        padding: 0;
    }
}
